<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <% include ./shared/libs.ejs %>
        <div id="app">
            Test
            <q-btn @click="socekt_send"></q-btn>
        </div>
    </body>
    <script>
        
        const app = Vue.createApp({
            data () {
                return {
                   socket: null,
                }
            },
            methods: {
                socekt_send: function() {
                    socket.emit("Connection", {
                        data: "안녕"
                    });
                }
            },
            mounted: function() {
                
            },
            created: function() {
                var vm = this;
                var socket = io("http://localhost:3000", {
                    withCredentials: false,
                    transports : ['websocket'],
                });
                vm.socket = socket;
            },
        });
    </script>
   
    <script>
        app.use(Quasar);
        app.mount('#app');
    </script>
</html>
